<div ng-init="tab = 1">
    <pre>{{course.Units | json}}</pre>
    <div class="col-md-6" ng-show="tab === 1">
        <form class="form-horizontal" name="CourseForm" novalidate>
            <div class="form-group">
                <label class="control-label col-md-4">Search Course Code</label>
                <div class="col-md-6">
                    <input name="code" type="text" class="form-control" ng-model="code" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">{{searchMessage}}</label>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <button type="button" class="btn btn-primary" ng-click="searchCourse()">Search Course</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6" ng-show="tab === 2">
        <h2>{{course.Code}}: {{course.Name}}</h2>
        <form class="form-horizontal" name="CourseForm" novalidate>
            <div class="form-group">
                <label class="control-label col-md-4">Code</label>
                <div class="col-md-6">
                    <input name="code" type="text" class="form-control" ng-model="courseDelivery.Code" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Delivery Mode</label>
                <div class="col-md-6">
                    <select name="type" type="text" class="form-control" ng-model="courseDelivery.DeliveryType" required>
                        <option value="FullTime">Full Time</option>
                        <option value="PartTime">Part Time</option>
                        <option value="Blended">Blended</option>
                        <option value="Online">Online</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Start Date</label>
                <div class="col-md-6">
                    <input name="startDate" type="date" class="form-control" ng-model="courseDelivery.StartDate" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">End Date</label>
                <div class="col-md-6">
                    <input name="endDate" type="date" class="form-control" ng-model="courseDelivery.EndDate" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4" ng-show="course.Units.length">Select Optional Units</label>
                <div class="col-md-6">
                    <span ng-repeat="unit in course.Units track by unit.Code">
                        <label ng-hide="unit.IsEssential">
                            <input type="checkbox" ng-model="unit.checked" />{{unit.Code}}: {{ unit.Name }}
                        </label>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <button type="button" class="btn btn-primary" ng-show="course.Units.length" ng-click="createCourseDelivery()">Create Course Delivery</button>
                </div>
                <div class="col-md-offset-2 col-md-6">
                    <button type="button" class="btn btn-warning" ng-show="course.Units.length" ng-click="previous()">Previous</button>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="tab === 3">
        <div class="col-md-6">
            <h2>{{course.Code}}: {{course.Name}}</h2>
            <h3>Create Subject</h3>
            <form class="form-horizontal" name="productForm" novalidate>
                <div class="form-group">
                    <label class="control-label col-md-4">Name</label>
                    <div class="col-md-6">
                        <input name="code" type="text" class="form-control" ng-model="Subject.Name" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Start Date</label>
                    <div class="col-md-6">
                        <input name="startDate" type="date" class="form-control" ng-model="Subject.StartDate" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">End Date</label>
                    <div class="col-md-6">
                        <input name="endDate" type="date" class="form-control" ng-model="Subject.EndDate" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Units</label>
                    <div class="col-md-6">
                        <span ng-repeat="unit in course.Units track by unit.Id">
                            <label ng-show="unit.available">
                                <input type="checkbox" ng-model="unit.checked" />{{unit.Code}}: {{ unit.Name }}
                            </label>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-6">
                        <button type="button" class="btn btn-primary" ng-click="addSubect()">Add Subject</button>
                    </div>
                    <div class="col-md-offset-2 col-md-6">
                        <button type="button" class="btn btn-warning" ng-click="goBack()">Go Back</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Units</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sub in subjects">
                        <td>{{ sub.Name }}</td>
                        <td>{{ sub.StartDate | date: 'MMM-dd' }}</td>
                        <td>{{ sub.EndDate | date: 'MMM-dd' }}</td>
                        <td>
                            <ul>
                                <li ng-repeat="unit in sub.Units">{{ unit.Code }}: {{ unit.Name }}</li>
                            </ul>
                        </td>
                        <td><button class="btn btn-danger" ng-click="removeSubject(sub)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
