<div>
    <pre>{{course | json}}</pre>
    <h4>Assessment</h4>
    <div class="col-md-6">
        <form class="form-horizontal" name="productForm" novalidate>
            <div class="form-group">
                <label class="control-label col-md-4">Search Course Code</label>
                <div class="col-md-6">
                    <input name="code" type="text" class="form-control" ng-model="code" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Units</label>
                <div class="col-md-6">
                    <span ng-repeat="unit in units track by unit.id">
                        <label>
                            <input type="checkbox" ng-model="unit.checked" /> {{ unit.name }}
                        </label>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <button type="button" class="btn btn-primary" ng-click="searchCourse()">Add Assessment</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6 table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Units</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="asset in assessments">
                    <td>{{ asset.code }}</td>
                    <td>{{ asset.type }}</td>
                    <td>{{ asset.startDate | date: 'MMM-dd' }}</td>
                    <td>{{ asset.endDate | date: 'MMM-dd' }}</td>
                    <td>
                        <ul>
                            <li ng-repeat="unit in asset.units">{{ unit }}</li>
                        </ul>
                    </td>
                    <td><button class="btn btn-danger" ng-click="removeAssessment(asset)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
