<form class="form-horizontal" name="CourseForm" novalidate>
    <div class="form-group">
        <label class="control-label col-md-4">Search Course Code</label>
        <div class="col-md-6">
            <input name="code" type="text" class="form-control" ng-model="code" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-6">
            <button type="button" class="btn btn-primary" ng-click="searchCourse()">Search Course</button>
        </div>
    </div>
</form>
