@{
    ViewBag.Title = "Subject";
}

<div ng-app="wizard">
    <div class="row" ng-view>

    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/Wizard/app.js"></script>
    <script src="~/Scripts/Wizard/Subject.js"></script>
    <script src="~/Scripts/Wizard/SubjectConfig.js"></script>
    <script src="~/Scripts/Wizard/SubjectFactory.js"></script>
    <script src="~/Scripts/Wizard/AddSubject.js"></script>
    <script src="~/Scripts/Wizard/Assessment.js"></script>
}


